@font-face {
    font-family: poster;

    src: url(review-font-family-1727830245-0/Review-Regular-Trial-BF63f6d10593542.otf);

    src: url(review-font-family-1727830245-0/ReviewCondensed-Regular-Trial-BF63f6d0f49c39a.otf);

    src: url(review-font-family-1727830245-0/ReviewPoster-Regular-Trial-BF63f6d0dd0681a.otf);
}

@font-face {
    font-family: poster-2;
    src: url(review-font-family-1727830245-0/Review-Thin-Trial-BF63f6d1069de17.otf);
}



* {
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.cursor{
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: #ff6f5b;
    border-radius: 50%;
    z-index: 99;
}
.fix{
    position: fixed;
    top: 92%;
    left: 93%;
    font-stretch: ultra-expanded;
    z-index: 100;
    font-family: "Neue Haas Grotesk Text Pro", sans-serif;
    font-size: 1.8vw;
}

nav {
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
}

.part-1 {
    display: flex;
    padding-left: 1vw;
    padding-top: 1vw;
}

.part-1-1 {
    width: 1vw;
    height: 100%;
    background-color: black;
    transition: all 0.5s ease-in-out;
}

.part-1-2 {
    width: 1vw;
    height: 60%;
    background-color: black;
    transition: all 0.5s ease-in-out;
}

.lines {
    display: flex;
    gap: 0.3vw;
    cursor: pointer;
}

.lines:hover .part-1-1 {
    height: 60%;
    background-color: #ff6f5b;
}

.lines:hover .part-1-2 {
    height: 100%;
    background-color: #ff6f5b;
}


.part-2 {
    display: flex;
    color: black;
    width: 83%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    padding: 0px 1vw 0px 0vw;
}

.part-2 .part-2-1 {
    padding-right: 2vw;
}

.part-2 .part-2-2 {
    width: 40%;
    /* padding: 0px 0px; */
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 4vw;
}

nav li:first-child {
    /* padding-left: 20px; */
    padding-right: 2.9vw;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.6vw;
    /* font-weight: 900 */
}

section {
    min-height: 100vh;
    margin-bottom: 9vh;
}

.main-video {
    display: flex;
    width: 100%;
    height:48vh;
    position: relative;
    overflow: hidden;
 
}
.main-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.box {
    position: relative;
    z-index: 2;
    height: 100%;
    overflow: hidden;
}

.video-middle {
    width: 0.5%;
    height: 100%;
    background-color: white;
    position: relative;
    z-index: 2;
}

.video-left {
    width: 20px;
    height: 100%;
    background-color: white;
    position: relative;
    z-index: 2;
}

.video-right {
    width: 20px;
    height: 100%;
    background-color: white;
    position: relative;
    z-index: 2;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 13%;
    height: 100%;
}

.box-1-boxes-1 {
    width: 100%;
    height: 38%;
    background-color: white;
}

.box-1-boxes-2 {
    width: 100%;
    height: 22%;
    background-color: white;
}

.box-2 {
    width: 14%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: white; */
}

.box-2-boxes-1 {
    width: 100%;
    height: 25%;
    background-color: white;
}

.box-2-boxes-2 {
    width: 100%;
    height: 10%;
    background-color: white;
}

.box-3 {
    display: flex;
    width: 13%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: white; */
}

.box-3-boxes-1 {
    width: 100%;
    height: 45%;
    background-color: white;
}

.box-3-boxes-2 {
    width: 100%;
    height: 2%;
    background-color: white;
}

.box-4 {
    display: flex;
    width: 13%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: white; */
}

.box-4-boxes-1 {
    width: 100%;
    height: 3%;
    background-color: white;
}

.box-4-boxes-2 {
    width: 100%;
    height: 14%;
    background-color: white;
}

.box-5 {
    display: flex;
    width: 13%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: white; */
}

.box-5-boxes-1 {
    width: 100%;
    height: 20%;
    background-color: white;
}

.box-5-boxes-2 {
    width: 100%;
    height: 5%;
    background-color: white;
}

.box-6 {
    display: flex;
    width: 15%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: white; */
}

.box-6-boxes-1 {
    width: 100%;
    height: 60%;
    background-color: white;
}

.box-6-boxes-2 {
    width: 100%;
    height: 10%;
    background-color: white;
}

.box-7 {
    width: 14%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: white; */
}

.box-7-boxes-1 {
    width: 100%;
    height: 35%;
    background-color: white;
}

.box-7-boxes-2 {
    width: 100%;
    height: 35%;
    background-color: white;
}

.section-1-text {
    width: 55%;
    margin-top: 6vh;
    padding-left: 20px;
    font-size: 4.5vw;
    font-weight: lighter;
    letter-spacing: -2px;
    font-family: "Neue Haas Grotesk Text Pro", sans-serif;
}

#section-2{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.section-2-top {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    font-family: "poster";
    overflow: hidden;
    /* background-color: #257878; */
}

.section-2-top-left {
    width: 26%;
    height: 100%;
    font-size: 2.5vw;
    font-family: "Neue Haas Grotesk Text Pro", sans-serif;
    padding: 5vh 1vw 0vw 1.8vw;
    overflow: hidden;
}

.section-2-top-right {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16vw;
    font-weight: 400;
    letter-spacing: 0.1vw;
    color: #257878;
    overflow: hidden;

}

.section-2-bottom {
    width: 100%;
    height: 60%;
    font-size: 16vw;
    font-weight: 400;
    letter-spacing: 0.1vw;
    color: #257878;
    font-family: "poster";
    overflow: hidden;

}

.bottom-top {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    box-sizing: border-box;
    /* background-color: #ff6f5b; */
    padding-right: 1.8vw;
    overflow: hidden;
}

.bottom-top h6{
    font-size: 12vw;
    font-weight: bolder;
}

.combine{
    display: flex;
    align-items: center;
}
.bottom-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    box-sizing: border-box;
    /* background-color:cornflowerblue; */
    overflow: hidden;
    padding-right: 1.8vw;
}

.bottom-bottom img {
    width: 150px;
    height: 160px;
    padding: 1.2vh 2.5vw 0px 2.5vw;
}

.arrow {
    display: flex;
    align-items: center;
    font-family: "Neue Haas Grotesk Text Pro", sans-serif;
    font-size: 18px;
    font-weight: 100;
    justify-content: center;
    margin-top: 80px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.arrow div {
    display: flex;
    width: fit-content;
    align-items: center;
    height: 30px;
    margin-left: 500px;
    overflow: hidden;
}

.arrow svg {
    width: 60px;
    position: absolute;
    transform: translateX(-80px);
    transition: all 0.5s ease-in-out;
    z-index: 1;
}
.arrow img {
    width: 60px;
    position: absolute;
    transform: translateX(-80px);
    transition: all 0.5s ease-in-out;
}


.arrow div:hover svg{
    opacity: 0;
    transform: translateX(-60px);
}
.arrow div:hover img{
    transform: translateX(-60px);
    z-index: 2;
}

.carousel{
    width: 100%;
    height: 95vh;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.carousel-left{
    width: 30%;
    height: 100%;
}

.carousel-left-top{
    width: 100%;
    height: 30%;
    box-sizing: border-box;
}

.carousel-left-top-1{
    font-family: "Neue Haas Grotesk Text Pro", sans-serif;
    display: flex;
    gap: 19px;
    font-weight: 500;
    font-size: 23px;
    align-items: center;
    letter-spacing: 1px;
}

.carousel-left-top-2{
    font-family: "Neue Haas Grotesk Text Pro", sans-serif;
    display: flex;
    gap: 30px;
    font-size: 24px;
    margin-top: 35px;
    align-items: center;
}

.carousel-left-top-1-line{
    width: 12px;
    height: 18px;
    margin-bottom: 1px;
    background-color: black;
}
.carousel-left-bottom{
    position: relative;
    width: 100%;
    height: 70%;
}

.carousel-left-bottom-1{
    position: absolute;
    /* display: none; */

}

.carousel-left-bottom-1 span{
    font-size: 59px;
    font-family: "poster-2";
    font-weight: 600;
}

.carousel-left-bottom-1 p{
    font-size: 21px;
    width: 95%;
    font-family: "poster-2";
    font-weight: 600;
    margin-top: 60px;
}

.carousel-left-bottom-2{
    position: absolute;
    display: none;
}

.carousel-left-bottom-2 span{
    font-size: 68px;
    font-family: "poster-2";
    font-weight: 600;
}

.carousel-left-bottom-2 p{
    font-size: 21px;
    width: 95%;
    font-family: "poster-2";
    font-weight: 600;
    margin-top: 60px;
}

.carousel-left-bottom-3{
    display: none;
}

.carousel-left-bottom-3 span{
    font-size: 59px;
    font-family: "poster-2";
    font-weight: 600;
}

.carousel-left-bottom-3 p{
    font-size: 21px;
    width: 95%;
    font-family: "poster-2";
    font-weight: 600;
    margin-top: 60px;
}

.carousel-right{
    width: 40%;
    height: 100%;
    margin-right: 20px;
    position: relative;
    display: flex;
    align-items: end;
}

.wrapper{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    overflow: hidden;
}

.boxes{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carousel-right-1{
    position: absolute;
    width: 100%;
    height: 80%;
}

.c-1-box-1-boxes-1 {
    width: 100%;
    height: 1%;
    background-color: white;
}

.c-1-box-1-boxes-2 {
    width: 100%;
    height:52%;
    background-color: white;
}

.c-1-box-2-boxes-1 {
    width: 100%;
    height: 28%;
    background-color: white;
}

.c-1-box-2-boxes-2 {
    width: 100%;
    height:2%;
    background-color: white;
}

.c-1-box-3-boxes-1 {
    width: 100%;
    height: 11%;
    background-color: white;
}

.c-1-box-3-boxes-2 {
    width: 100%;
    height:38%;
    background-color: white;
}

.carousel-right-1 img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-right-2{
    position: absolute;
    display: none;
    width: 100%;
    height: 80%;

}

.c-2-box-1-boxes-1 {
    width: 100%;
    height: 1%;
    background-color: white;
}

.c-2-box-1-boxes-2 {
    width: 100%;
    height:56%;
    background-color: white;
}

.c-2-box-2-boxes-1 {
    width: 100%;
    height: 28%;
    background-color: white;
}

.c-2-box-2-boxes-2 {
    width: 100%;
    height:4%;
    background-color: white;
}

.c-2-box-3-boxes-1 {
    width: 100%;
    height: 11%;
    background-color: white;
}

.c-2-box-3-boxes-2 {
    width: 100%;
    height:38%;
    background-color: white;
}

.carousel-right-2 img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-right-3{
    position:absolute;
    display: none;
    width: 100%;
    height: 80%;
}

.carousel-right-3 img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-3-box-1-boxes-1 {
    width: 100%;
    height: 1%;
    background-color: white;
}

.c-3-box-1-boxes-2 {
    width: 100%;
    height:56%;
    background-color: white;
}

.c-3-box-2-boxes-1 {
    width: 100%;
    height: 26%;
    background-color: white;
}

.c-3-box-2-boxes-2 {
    width: 100%;
    height:0%;
    background-color: white;
}

.c-3-box-3-boxes-1 {
    width: 100%;
    height: 11%;
    background-color: white;
}

.c-3-box-3-boxes-2 {
    width: 100%;
    height:38%;
    background-color: white;
}


.f-work{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    box-sizing: border-box;
    gap: 1vw;
    font-family: "Neue Haas Grotesk Text Pro", sans-serif;
    font-size: 1.8vw;
    font-weight: 400;
    padding-left: 27vw;
    margin-top: 25vh;
}

.line{
    width: 0.9vw;
    height: 3vh;
    background-color: black;
}

.two-video-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    box-sizing: border-box;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 20vh;
}

.first-video-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
}
.first-video-img img{
    width: 100%;
    height: 115vh;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in;
}
.first-video-img video{
    width: 90%;
    height: 50%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    transition: all 0.3s ease-in;
}
.second-video-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.second-video-img img{
    width: 100%;
    height: 115vh;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in;
}
.second-video-img video{
    width: 90%;
    height: 50%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    transition: all 0.3s ease-in;
}

.first-video-img:hover video{
    z-index: 1;
}
.first-video-img:hover img{
    transform: scale(1.1);
}


.second-video-img:hover video{
    z-index: 1;
}
.second-video-img:hover img{
    transform: scale(1.1);
}


.two-video-img-text{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 3vh;
    padding-bottom: 3vh;
    z-index: 1;
    font-family: "poster";
    color: white;
    font-size: 5vw;
}

.two-video-img-text>p{
    width: 100%;
    padding-left: 3vw;
    text-align: start;
}

.img-bottom-text{
    width: 90%;
    display: flex;
    font-size: 2vw;
    justify-content: space-between;
}

.pinned-img{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20vw;
}

.pinned-img img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.pinned-img .boxes{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}


.boxes-3{
    width: 100%;
    height: 220%;
    background-color: white;
}

.boxes-4{
    width: 100%;
    height: 160%;
    background-color: white;
}
.boxx-1{
    transform: translateY(-12%);
}

.boxx-2{
    transform: translateY(-22%);
}

.boxx-3{
    transform: translateY(-8%);
}

.boxx-4{
    transform: translateY(-17%);
}

.boxx-5{
    transform: translateY(-5%);
    /* background-color: black; */
}

.boxx-6{
    transform: translateY(-35%);
    /* background-color: black; */
}

.boxx-7{
    transform: translateY(-6%);
    /* background-color: black; */
}


#section-6{
    height: 132vh;
}
.section-6-top{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    box-sizing: border-box;
    overflow: hidden;
    /* background-color: #ff6f5b; */
}
.section-6-top-left{
    font-size: 2.2vw;
    padding-top: 1.5vw;
    font-family:"Neue Haas Grotesk Text Pro", sans-serif;
}

.section-6-top-right{
    display: flex;
    align-items: center;
    font-size: 17vw;
    font-weight: 400;
    letter-spacing: 0.1vw;
    color: #257878;
    font-family: "poster";
    overflow: hidden;
}

.section-6-top-right img{
    width: 150px;
    height: 160px;
    padding-top: 2vh;
    margin-right: 2vw;
}

.section-6-middle{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 2vw;
    box-sizing: border-box;
    font-size: 17vw;
    font-weight: 400;
    letter-spacing: 0.1vw;
    color: #257878;
    font-family: "poster";
    overflow: hidden;
    /* background-color:#ff6f5b; */
}

.section-6-bottom{
    width: 100%;
    height: 50%;
    /* background-color: #257878; */
    font-size: 17vw;
    font-weight: 400;
    letter-spacing: 0.1vw;
    color: #257878;
    font-family: "poster";
    overflow: hidden;
}

.s-6-bottom-top{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content:right;
    align-items: center;
    padding-right: 2vw;
    box-sizing: border-box;
    overflow: hidden;
    /* background-color:#257878; */
    
}

.s-6-bottom-bottom{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 2vw;
    box-sizing: border-box;
    overflow: hidden;
    /* background-color:#ff6f5b; */
}

#section-7{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10vh;
    font-family:"Neue Haas Grotesk Text Pro", sans-serif;
    margin-top: 10vw;
    margin-bottom: 15vw;
}

#section-7 > p{
    font-size: 2vw;
    padding-left: 1.5vw;
    font-family:"Neue Haas Grotesk Text Pro", sans-serif;
}

.love{
    padding-left: 1.5vw;
    margin-bottom: 18vh;
}

#section-7 .lets-talk{
    font-size: 17.2vw;
    font-weight:700;
    font-size: "poster";
    height: 40%;
    transform: scale(1,2.5);
    font-stretch: extra-expanded;
}

footer{
    height: 118vh;
    background-color: #ff6f5b;
    overflow: hidden;
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}
.footer .line{
    width: 1.5vw;
}

footer .combine{
    height: 90%;
    align-items: start;
}

footer .heights{
    height: 55%;
    width: 55%;
    display: flex;
    font-size: 23vw;
    color: white;
    text-align: center;
    gap: 0.6vw;
    padding-left: 1vw;
    font-family: "poster";
    font-weight: 600;
    transform: translateY(-40px);
    /* background-color: #257878; */
    overflow: hidden;
    margin-right: 0%;
    box-sizing: border-box;
}

.footer-part-2{
    /* background-color: darksalmon; */
    width: 45%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 3vw;
    display: flex;
    flex-direction: column;
}

.footer-part-2-1{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content:end;
    font-size: 1.8vw;
    padding-bottom: 13%;
    box-sizing: border-box;
    font-family:"Neue Haas Grotesk Text Pro", sans-serif;
    /* background-color: #257878; */
}
.footer-part-2-1 a{
    color: black;
}

.footer-part-2-2{
    display: flex;
    flex-direction:column;
    box-sizing: border-box;
    padding-top: 5%;
    font-size: 1.6vw;
    font-family:"Neue Haas Grotesk Text Pro", sans-serif;
    gap: 4vw;
    color: white;
}

.f-part-2-2-1{
    display: flex;
    align-items: center;
    gap: 3%;
}

.f-part-2-2-2{
    font-size: 1.2vw;
    gap: 3%;
}

.footer-part-2-2  a{
    color: white;
    font-size: 3.2vw;
    text-underline-offset:11px;
    text-decoration-thickness: 3px;
    margin-top: 7%;
    font-family:"Neue Haas Grotesk Text Pro", sans-serif;
}
.footer-part-3{
    height: 10%;
    display: flex;
}

.footer-part-3 a{
    color: white;
    font-size: 1.7vw;
    text-decoration: none;
    font-family:"Neue Haas Grotesk Text Pro", sans-serif;
}

.f-part-3-1{
    width: 55%;
    display: flex;
    align-items: center;
    gap: 23%;
    padding-left: 1vw;
    box-sizing: border-box;
}


.f-part-3-2{
    display: flex;
    gap: 30%;
    padding-left: 3vw;
    box-sizing: border-box;
}

.f-part-3-2-1{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.f-part-3-2-2{
    display: flex;
    align-items: center;
    gap: 1vw;
}